 
/* .close:hover,
.close:focus {
    color: black;
    cursor: pointer;
}

.menu-item img {
    cursor: pointer;
}

.customization-form label {
    display: block;
    margin-top: 10px;
}

.customization-form select {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
}

.customization-form button {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

.customization-form button:hover {
    background-color: #0056b3;
} */