* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: #e0e0e0;
}

header nav {
    display: flex;
    flex-grow: 1; /* Ensures the navigation takes up available space */
    justify-content: space-between; /* Space between left nav and right header */
}

header nav .left-nav, header nav .right-nav {
    display: flex;
    gap: 20px; /* Adjusts space between individual menu items */
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px; /* Space between items */
}

header nav ul li a {
    text-decoration: none;
    color: #000;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    flex-grow: 0;
    text-align: center; /* Center the logo */
    margin: 0 100px; /* Adjust spacing around the logo */
}

main {
    display: flex;
    height: 100vh;
}

.left-section {
    width: 50%;
    background: url('images/loginbackground.jpg') no-repeat center center;
    background-size: cover;
    padding: 50px;
    color: #fff;
}




.left-section .hero-text h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: black;
}

.left-section .hero-text p {
    font-size: 18px;
    line-height: 1.5;
}

.right-section {
    width: 50%;
    padding: 50px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-form {
    max-width: 400px;
    margin: 0 auto;
}

.login-form p {
    text-align: right;
}

.login-form h2 {
    margin-bottom: 20px;
    font-size: 32px;
}

.google-btn, .twitter-btn {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.google-btn {
    background-color: #fff;
    border: 1px solid #d9d9d9;
}

.twitter-btn {
    background-color: #1da1f2;
    color: #fff;
    border: 1px solid #1da1f2;
}

form p {
    text-align: center;
    margin: 20px 0;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
}

.form-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.form-links a {
    text-decoration: none;
    color: #1da1f2;
}

.signin-btn {
    width: 100%;
    padding: 10px;
    background-color: #ccc;
    border: none;
    border-radius: 5px;
    cursor: not-allowed;
    opacity: 0.6;
}
